<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hackerscout Handbook | {{ page.title }}</title>
  <meta name="description" content="The coder's guide to community building">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/reset.css">
  <link rel="stylesheet" href="/assets/styles.css">
  <!-- Include the html5shim for older IEs -->
  <!--[if lt IE 9]><script src="/assets/html5shim.js"></script><![endif]-->
</head>
<body>
  <header>
    <div class="wrapper">
      <h1><a href="/">&gt; Hackerscout Handbook</a></h1>
    </div> <!-- div.wrapper -->
  </header>
  <div class="wrapper">
    <div id="main" role="main">
      {{ content }}
    </div> <!-- div#main -->
  </div> <!-- div.wrapper -->
</body>
</html>